body {
	background-color: #0f244e;
	background-image: url(img/bk.png);
        background-repeat: repeat-x;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
        height: auto;
}
#usttaraf {
        margin: 0 0 0 0;
	background-image: url(img/home.jpg);
        background-repeat: no-repeat;
        height: 100px;
}
#soltaraf {
	margin-top: 30px;
	margin-left: 10px;
        text-align: left;
        width: 210px;
        padding-left: 4px;
        padding-bottom: 20px;
}
#ysoltaraf {
	margin-top: 30px;
	margin-left: 10px;
        text-align: left;
        width: 210px;
        padding-left: 4px;
        padding-bottom: 20px;
        border-bottom   : 2px solid #FFFFFF;
        border-top      : 2px solid #FFFFFF;
}
.box {
        margin: 0 0 0 0;
        width: 90px;
        height: auto;
}
#yortataraf {
        top: 0px;
	margin-top: 30px;
        text-align: left;
        margin-left: 4px;
        padding-left: 4px;
        width: 500px;
        height: auto;
}
#ortataraf {
        top: 0px;
        text-align: left;
        margin-left: 4px;
        padding-left: 4px;
        width: 500px;
        height: auto;
}
#acikmavi {
        width: 494px;
        margin: 2px;
	background-color: #0f244e;
}
#sagtaraf {
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 3px;
        padding-left: 4px;
        text-align: right;
        width: 260px;
}
#alttaraf {
        top: 0px;
        height: 100%;
}
#canvas {
	padding-left: 45px;
	padding-right: 35px;
        font-size: 9px;
        width: 480px;
}

#bdy {
     font-size: 9px;
}

.bdy {
     padding: 5px;
}

#uyewin {
     background-color: #FFFFFF;
     padding-left     : 10px;
     width           : 200px;
     height          : 320px;
     overflow: auto;
}

#pencere {
        position        : fixed;
        top             : 53px;
        left            : 100px;
        width           : 400px;
        height          : 480px;
        padding-left: 7px;
        background-color : #A9A9A9;
        overflow        : auto;
        border-left     : 2px solid #000000;
        border-right    : 0px;
}

/*------------------------------------------------------------*
**  Header
**------------------------------------------------------------*/	
#header { 
        /* background-color : #8e9ccb; */
	background-color: #0f244e;
	width: auto; 
	margin: 0 auto;	
	padding: 0;
	}
#header div { 
        position        : relative;
	text-align: left;
        margin-top: 3px;
	padding: 1px 0 1px 1px;	
	}	
#header h1 {
	margin: 0; 
	clear: both;
	padding: 1px 0 0 1px;	
	font-size: 4em;	
	}
#header h1 a { 
	padding: 0;
	color: #000;
	font-family: Century Gothic, sans-serif;
	font-weight: normal;
	color: #000;	
	}	
#header h1 a:hover { background-color: transparent; }	
* html #header h1 { padding-top: 23px; }	

/*------------------------------------------------------------*
**  Navigation
**------------------------------------------------------------*/

#header .ul {
	margin: 0 5px;
	padding: 0;	
	}
#header .li { 
	display: inline;
	list-style-type: none;
	margin: 0 5px;
	font-size: 1.2em;
	/* background: url(img/greybutton.gif) no-repeat; */
	background-color: #E0E0E0;
	width: auto;
	height: auto;
	float: left;
	text-align: center;
	}	
#header .li a { 
	display: block; 
	width: auto;
	color: #000098;
	padding-top: 3px;
        text-decoration: none;
	}		
#header .li a.on,
#header .li a:hover { background-color: #E0E0E0; color: #9c0; height: auto; }

#mybanner {
        position: relative;
        width: 990px;
        /* background-color: #000098; */
	background-color: #0f244e;
        text-align: center;
        height: 24px;
        }
#mybanner .ul {
        margin-top: 2px;
        margin-left: 230px;
        padding: 0;
        }
#mybanner .li {
        display: inline;
        list-style-type: none;
        margin: 0 5px;
        font-size: 12px;
        /* background: url(img/greybutton.gif) no-repeat; */
        /* background-color: #E0E0E0; */
        width: auto;
        height: auto;
        float: left;
        text-align: center;
        border: 1px;
        }
#mybanner .li a {
        display: block;
        width: auto;
        color: #ffffff;
        padding-top: 3px;
        text-decoration: none;
        }
#mybanner .li a.on,
#mybanner .li a:hover { background-color: #E0E0E0; color: #9c0; height: auto; }


.menublock{
      margin-left: 10px;
      margin-right: 5px;
      margin-bottom:10px;
      padding: 8px 0.5em;
      padding-top: 12px;
      font-size: 1.1em;
}

.ymenublock{
      margin-left: 0px;
      margin-right: 15px;
      margin-bottom:10px;
      padding: 8px 0.5em;
      padding-top: 12px;
      font-size: 1.1em;
      text-align: left;
}

.nav{
      color: #8e9ccb;
      display: block;
      font-size: 0.9em;
      font-weight: 700;
      margin-bottom: 1px;
      padding: 2px 2px 2px 10px;
      position: relative;
      text-decoration: none;
}

.ynav{
      color: #8e9ccb;
      display: block;
      font-size: 0.9em;
      font-weight: 700;
      margin-bottom: 1px;
      padding: 2px 2px 2px 10px;
      position: relative;
      text-decoration: none;
}

.nav:hover{
      color: #cadaf3;
      padding: 2px 2px 2px 10px;
}

.ynav:hover{
      color: #000000;
      padding: 2px 2px 2px 10px;
}

.sub{
      font-size: 0.7em;
      margin-left: 6px;
      padding: 1px 1px 1px 9px;
      width: auto;
      color: #9C9C9C;
}

.sub:hover{
      color: #C9C9C9;
      padding: 1px 1px 1px 9px;
      width: auto;
}

.ybaslik {
	margin-top: 30px;
	margin-left: 10px;
       color: #000000;
       font-size: 14px;
       text-align: left;
}
.byazi {
       color: #ffffff;
       font-size: 12px;
       text-align: center;
}
.syazi {
       color: #000000;
       font-size: 12px;
       text-align: center;
}
.fyazi {
       color: #000000;
       background-color: #C9C9C9;
       font-size: 100%;
       text-align: left;
}
.yazi {
       color: #000000;
       font-size: 100%;
       text-align: left;
}
.yyazi {
       color: #C9C9C9;
       font-size: 11px;
       text-align: left;
}
.gyazi {
       color: #C9C9C9;
       background-color: #0d224b;
       font-size: 11px;
       text-align: left;
}
.yfix {
       color: #000000;
       font-size: 100%;
	font-family: lucidatypewriter, courier;
       text-align: left;
}
#banner {
        position	: absolute;
        top		: 38px;
	left		: 230px;
	width		: 539px;
	height		: 15px;
	background : url(img/banner.png) no-repeat;
}
#container {
        position	: absolute;
        top		: 53px;
	left		: 230px;
	width		: 530px;
	height		: 408px;
        padding-left: 7px;
	background : url(../img/pencere2.png) repeat-y;
	overflow	: auto;
	border-left     : 2px solid #000000;
	border-right    : 0px;
}

#content {
	position	: relative;
	width		: 494px;
	left		: 10px;
}

#sag {
        margin-top: 0px;
        margin-left: 0px;
        text-align: right;
}

p {
	font		: 10px/14px arial,helevetica,san-serif;
}

h4 {
	font		: 12px arial,helevetica,san-serif;
}

.blpic {
        float:left;
        border:1px dotted black;
        margin:0px 10px 15px 20px;
}
.brpic {
        float:right;
        border:1px dotted black;
        margin:0px 0px 15px 20px;
}

.lpic {
        float:left;
        margin:0px 10px 15px 20px;
}
.rpic {
        float:right;
        margin:0px 0px 15px 20px;
}

.button {
	color: #ffffff;
	background-color: #E9E9E9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	vertical-align: middle;
        float:right;
	border: thin;
	border-color: #000000;
}
.button a {
padding: 2px 0.5em;
	background-color: #898989;
text-decoration: none;
float: left;
	color: #ffffff;
border: 2px solid #000000;
}
.button a:hover {
background-color: #4f4f64;
border-style: outset;
color: #ffffff;
}

